<h2>Wnioski</h2>
<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>DOCHÓD</th>
    <th>IMIE OJCA</th>
    <th>IMIE MATKI</th>
    <th>NAZWISKO PANIEŃSKIE MATKI</th>
    <th>KWOTA KREDYTU</th>
    <th>STATUS</th>
    <th>NUMER KONTA</th>
  </tr>
  <tr *ngFor="let p of proposal" [ngStyle]="{color: getColor(p.status)}">
    <td>
      {{p.id}}
    </td>
    <td>
      {{p.income | number : '1.2-2'}} PLN
    </td>
    <td>
      {{p.fatherName}}
    </td>
    <td>
      {{p.motherName}}
    </td>
    <td>
      {{p.motherMaidenName}}
    </td>
    <td>
      {{p.loanAmount | number : '1.2-2'}} PLN
    </td>
    <td>
      {{getStatus(p.status)}}
    </td>
    <td>
      {{getAccount(p.accountId)}}
    </td>
  </tr>
</table>

<button class="btn btn-background-slide" *ngIf="!kaczka" type="button" (click)="newTrans(true)">Złóż wniosek</button>

<div id="proposal" *ngIf="kaczka">
<div class="jumbotron"  >
  <div class="float-lg-right">
    <span (click)="newTrans(false)" class="glyphicon glyphicon-remove"></span>
  </div>
  <h2 class="d-flex justify-content-center">Wniosek o kredyt</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>
      Konto
    </label>
    <div id="accounts" class="form-group row">
      <div class="col-xs-3">
        <select class="form-control" formControlName="accountId">
          <option *ngFor="let a of account" [value]="a.id">
            {{a.accountNumber}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        <input class="form-control" placeholder="Imie Ojca" id="fatherName" type="text" formControlName="fatherName">
        <div *ngIf="form.controls['fatherName'].invalid && (form.controls['fatherName'].dirty || form.controls['fatherName'].touched) "
             class="text-danger">
          Imie Ojca jest wymagane
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        <input class="form-control" placeholder="Imie Matki" required id="motherName" type="text" formControlName="motherName">
        <div *ngIf="form.controls['motherName'].invalid && (form.controls['motherName'].dirty || form.controls['motherName'].touched) "
             class="text-danger">
          Imie Matki jest wymagane
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        <input class="form-control" placeholder="Nazwisko Panieńskie Matki" required id="motherMaidenName" type="text" formControlName="motherMaidenName">
        <div *ngIf="form.controls['motherMaidenName'].invalid && (form.controls['motherMaidenName'].dirty || form.controls['motherMaidenName'].touched) "
             class="text-danger">
          Nazwisko Panieńskie Matki jest wymagane
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        <input class="form-control" placeholder="Dochód" required min="0" id="income" type="number" formControlName="income">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">
        <input class="form-control" placeholder="Kwota kredytu" required min="0" id="loanAmount" type="number" formControlName="loanAmount">
      </div>
    </div>


    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Wykonaj</button>

  </form>
</div>
</div>
