body, html {
  background-image: url("~/Logo/background2.jpg");
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  font-family: 'Roboto';
}
a{
    text-decoration: none;
    color:black;
}

.bg {
  z-index: 1;
  position: absolute;
}

.profile {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgb(255, 255, 255);
  width: 95%;
  height: 800px;
}
#profile {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}

.glyphicon {
  font-size: 30px;
}
.glyphicon:hover{
    cursor: pointer;
}

#new {
  position: fixed;
  left: 50px;
  bottom: 0%;
  top: 5%;
  height:30px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


button {
  margin: 1rem;
}


.btn {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  --background-color: #E3E3E3;
  --border-size: 2px;
  --accent-color: #0AF;
}

.btn.btn-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}




.btn.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}


.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  color: white;
}
app-transaction {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}
tbody {
  font-weight: bold;
}
.thead {
  background: rgb(11,181,226);
  background: linear-gradient(90deg, rgba(11,181,226,1) 0%, rgba(9,148,198,1) 50%, rgba(7,135,172,1) 100%);
}

.card-footer{
    height:60px;
    
}
#prof {
  position: fixed;
  right:200px;
  bottom: 0%;
  top: 5%;
  height: 40px;
}

