
  <body class="bg">
    <div class="card-header">

      <img src="/Logo/logo.png" height="100px" width="400px" />
      <button class="btn btn-background-slide"><a href="Account/LogOff">Wyloguj się!</a></button>
    </div>
    <button id="new" class="btn btn-background-slide" (click)="newAccount()">Załóż nowe konto bankowe</button>
    <p id="prof" (click)="hid()" [hidden]="!isHidden">
      <span class="glyphicon glyphicon-user">Profil</span>
    </p>
    
    <div class="mx-auto" style="width: 60%;">

      <div id="profile" [hidden]="isHidden">
        <app-profile class="profile" appProfile [hidden]="isHidden">Brak</app-profile>
      </div>

      <br />
      <button class="btn btn-background-slide" *ngIf="!kaczka" type="button" (click)="newTrans(true)">Nowa transakcja</button>
      <br />
      <p *ngIf="kaczka">
        <app-transaction [kind]="kind"></app-transaction>
      </p>

      <br />
      <br />
      <br />
      <div id="accounts" class="container">
        <h1>
          Konto
        </h1>
        <select class=" dropdown-toggle btn-lg" name="account" [(ngModel)]="currentId" (input)="check($event)">
          <option *ngFor="let a of account" [value]="a.id">
            {{a.accountNumber}}
          </option>
        </select>
      </div>



      <div id="balance" class="float-lg-right">
        Dostępne środki:<br />
        <h2>{{currentAccount?.balance | number : '1.2-2'}} PLN</h2>
        Dzienny limit transakcji: <br />
        <h2>{{profile.limit - profile.currentLimit | number : '1.2-2'}} PLN</h2>
        <button class="btn btn-background-slide" *ngIf="!showEditLimit" (click)="showLimitEdit(true)">Zmień limit</button>
        <div *ngIf="showEditLimit">
          <input [(ngModel)]="lim" placeholder="Limit" type="number">
          <button class="btn btn-background-slide" (click)="changeLimit()">Zmień</button>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h4>Szukaj po tytule:</h4>
          </th>
          <th>
            <h4>Szukaj po numerze konta:</h4>
          </th>
          <th>
            <h4>Sortuj: </h4>
          </th>
        </tr>
        <tr>
          <td>
            <input type="text" placeholder="Tytuł" [(ngModel)]="title" (input)="search() " />
          </td>
          <td>
            <input type="text" placeholder="Numer konta" [(ngModel)]="accNumber" (input)="search2() " />
          </td>
          <td>
            <select class=" dropdown-toggle btn-lg" name="sort" [(ngModel)]="sort" (input)="onSort()">
              <option *ngFor="let s of sortArr" [value]="s">
                {{s}}
              </option>
            </select>
          </td>
        </tr>
      </table>

      <br />

      <table class="table">
        <thead class="thead">
          <tr>
            <th>DATA</th>
            <th>RODZAJ</th>
            <th>TYTUŁ</th>
            <th>KWOTA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of transaction | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" appShow [transaction]="t" [id]="currentAccount.accountNumber" [kind]="kind[t.operationKindId-1]?.kind">
            <td>
              {{t.date | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{kind[t.operationKindId-1]?.kind}}
            </td>
            <td>
              {{t.title}}
            </td>
            <td [ngStyle]="{color: getColor(t.direction)}">
              {{t.amount | number : '1.2-2'}} PLN
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <ul class="pagination">
          <li (click)="first()"><a href="#"><span>Pierwsza</span></a></li>
          <li (click)="prev()"><a href="#"><span>&laquo;</span></a></li>
          <li (click)="pagee(p+1)" *ngFor="let p of numbers"><a href="#"><span>{{p+1}}</span></a></li>
          <li (click)="next()"><a href="#"><span>&raquo;</span></a></li>
          <li (click)="last()"><a href="#"><span>Ostatnia</span></a></li>
        </ul>
      </div>
      <br />
      <br />
      <br />
      <app-credit>brak</app-credit>
      <br />
      <br />
      <br />
      <app-proposal>brak</app-proposal>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />


    </div>
    <footer class="card-footer">
      Projekt z PZ 2020 <br />
      Dybowski Dominik
    </footer>
  </body>
